RewriteEngine On
RewriteRule ^cart$ cart.php [L]
RewriteRule ^checkout$ checkout.php [L]
RewriteRule ^admin$ admin_login.php [L]
RewriteRule ^admin/dashboard$ admin_dashboard.php [L]
RewriteRule ^order/details$ order_details.php [L]
