body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
